In [1]:
def sum2(n1,n2):
    print(n1+n2)

In [2]:
sum2(10,20)

30

In [5]:
def sum3(n1,n2,n3):
    print(n1+n2+n3)

In [6]:
sum3(1,2,3)

6

In [12]:
def sum(*nos):
    result=0
    for v in nos:
        result=result+v
    print(result)

In [13]:
sum()

0

sum(10)

In [14]:
sum(10)

10

In [15]:
sum(1,2,3,3,35,555)

599

In [11]:
type((1,2))

tuple