In [1]:
import pandas as pd

In [2]:
import pymongo

In [8]:
url="mongodb://localhost:27017"

In [9]:
client=pymongo.MongoClient(url)

In [10]:
db=client["school"]

In [11]:
collection=db["students"]

In [14]:
data=list(collection.find())

In [16]:
df=pd.DataFrame(data)

In [17]:
df

                        _id name rno address
0  63dc682753d5c5dbb4c65489   s6   6     Hyd
1  63dc682753d5c5dbb4c6548a   s7   7     Hyd